{% extends 'SansthonProdBundle::layout.html.twig' %}

{% block body -%}
    <h1>Stock Global</h1>

    <table class="records_list table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Référence</th>
                <th> Objectif </th>
                {% for etape in etapes %}
                    <th colspan=2 > {{etape.nom}} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for type in types %} 
               <tr>
                   <td>{{type.reference}} {{type.nom}}</td>
                   <td>{{type.objectif}}</td>
              {% for etape in etapes %}
                    <td>
                        {% if stocks[type.id][etape.id] is defined %}
                        {{stocks[type.id][etape.id]}}
                        {% else %}
                        0
                        {%endif%}
                        </td> <td class="text-info">
                        +
                        {% if etats[type.id][etape.id] is defined %}
                        
                        {{etats[type.id][etape.id]}}
                        {% else %}
                        0
                        {%endif%}
                        
                    </td>
                {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
