<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block titleleft %}
      {% endblock %}
      {% block title %}
        Sansthon 
      {% endblock %}
      {% block titleright %}
        gestion de production
      {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/sansthonprod/css/bootstrap.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ asset('bundles/sansthonprod/css/chosen.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ asset('bundles/sansthonprod/css/main.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ asset('bundles/sansthonprod/css/datepicker.css') }}" type="text/css" media="all" />

    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('bundles/sansthonprod/images/favicon.png') }}" />
    <meta name="author" content="killian">
    <meta name="title" content="SansThon" />
    <meta name="language" content="fr" />
  </head>
  <body>

    {% include 'SansthonProdBundle::nav.html.twig'%}
    </div>
        <div class="container-fluid">
        {% include 'SansthonProdBundle::flash.html.twig'%}
		    <div class="content">
                {% block content %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
    {% block javascripts %}
        <script src="{{ asset('bundles/sansthonprod/js/jQuery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sansthonprod/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sansthonprod/js/chosen.jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sansthonprod/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sansthonprod/js/locales/bootstrap-datepicker.fr.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sansthonprod/js/main.js') }}" type="text/javascript"></script>
    {% endblock %}
    {% block jspageonly %}
    
    {% endblock %}
  </body>
